.about {
  max-width: 700px;
}
.about_top {
  margin-top: 10rem;
}
.about_heading {
  text-align: left;
}

.about_desc {
  margin-top: 3rem;
  font-size: 18px;
}

.work_experience {
  margin-top: 10rem;
}

.work_experience_item {
  margin-bottom: 50px;
  cursor: pointer;
}

.work_experience_container {
  margin-top: 3rem;
}

.work_experience_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a7a7a7;
  box-shadow: 0px 4px 4px rgba(167, 167, 167, 0.1);
  padding-bottom: 10px;
}

.work_experience_top_left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.work_experience_top_left h6 {
  font-weight: 400;
  font-size: 20px;
}

.work_experience_top_detail {
  display: flex;
  align-items: center;
  gap: 30px;
}

.work_experience_company,
.work_experience_location,
.work_experience_date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.work_experience_top_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.work_experience_body {
  padding-top: 20px;
}

.work_experience_detail {
  margin-top: 10px;
  margin-left: 20px;
}

.work_experience_detail_item {
  margin-bottom: 10px;
}
