.account_wrapper {
  width: 70%;
  margin-top: 40px;

  textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
}

.account_identity {
  display: flex;
  align-items: center;
  gap: 30px;

  margin-bottom: 30px;

  h4 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  label {
    display: block;
    width: max-content;
    text-align: center;
    border-radius: 5px;
    background-color: var(--button-color);
    padding: 8px 15px;
    position: relative;
    color: #fff;
    cursor: pointer;

    input {
      position: absolute;
      left: -9999px;
    }
  }
}

.account_profile_pic {
  width: 18rem;
  height: 18rem;
  border-radius: 8px;
  border: 1px solid var(--text-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  position: relative;
  overflow: hidden;

  .imgUrl {
    width: 100%;
    object-fit: cover;
  }
}

.account_top {
  border-bottom: 1px solid var(--text-color-light);
  padding-bottom: 30px;
  // margin-top: 30px;

  h6 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
}

.form_group {
  margin-bottom: 20px;
  flex-grow: 1;
}

.form_group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form_group input {
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 20px;
  outline: none;
  border: none;
}

.account_middle {
  border-bottom: 1px solid var(--text-color-light);
  padding-bottom: 30px;
  margin-top: 60px;
  h6 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
}

.account_bottom {
  margin-top: 60px;
  h6 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
}

.edit_btn {
  display: block;
  width: max-content;
  font-size: 14px;
  color: #e96209;
  margin-left: auto;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: rgba(233, 99, 9, 0.2);
  cursor: pointer;
}

.edit_actions {
  display: flex;
  gap: 30px;

  span {
    display: block;
    width: max-content;
    font-size: 14px;
    color: #e96209;
    margin-left: auto;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: rgba(233, 99, 9, 0.2);
    cursor: pointer;
  }

  button {
    color: #fff;
    background: var(--button-color);
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    outline: none;
  }
}

.changeResume {
  background-color: var(--primary-color) !important;
}

.removeResume {
  background-color: var(--secondary-color) !important;
}

.uploadResume {
  background-color: #e96209 !important;
}

.socialForm {
  margin-top: 40px;
}

.form_group_icon {
  svg {
    transform: translateX(-45px);

    cursor: pointer;
  }
  svg:hover {
    transform: translateX(-45px) translateY(2px);
  }
}

@media screen and (max-width: 991px) {
  .account_wrapper {
    width: 100%;
  }
}
