/* 

.appHeader{
    position: static;
    top: 0
}



.customToggler {
    background-color: var(--text-color-light) !important; /* Set color to white 
}
*/

.headerSocials {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.signup, .logout{
    background-color: var(--secondary-color) !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #fff !important;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* .signup:hover{
    color: var(--text-color-light) !important;
} */

.logo {
    background: var(--gradient-to-right);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem !important;
}

.avi {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--text-hero-color-light);
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
    }

    &_profile{
        position: absolute;
        top: 110%;
        text-align: center;
    }
}


@media (max-width: 768px) {

    .headerSocials {
        padding-left: 0;
        margin-top: 2.5rem;
    }

}