.projects {
  margin-top: 15rem;
  position: relative;
}

.projectsWrapper {
  margin-top: 10rem;
}

.projectCard {
  background-color: #363636;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 2.5rem;
  transition: 0.2s ease-out;
  position: relative;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5),
    -1px -1px 10px rgba(255, 255, 255, 0.5);
}

.overlay_actions {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 2;
  & > * {
    width: 50px;
    height: 50px;
  }
}

.projectCard:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);

  cursor: pointer;

  .overlay_actions {
    opacity: 1;
  }

  .projectCard::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.projectCardImgContainer {
  width: 100%;
  height: 26rem;
  overflow: hidden;
  position: relative;
}

.projectCardImgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.projectTitle {
  font-size: 2.8rem;
  color: var(--heading-color-light);
  margin-bottom: 2rem;
}

.projectDetails {
  padding: 3rem;
}

.projectDesc {
  font-size: 1.6rem;
  /* max-height: 13rem; */
  /* color: var(--text-color-light); */
}

.projectTechStack {
  margin-top: 12px;
}

.projectActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.4rem;
}

.projectLiveReview,
.projectViewCode {
  display: flex;
  align-items: center;
  gap: 15px;
}

.projectCol {
  padding: 0 10px;
}

.addModalbutton {
  margin-left: auto;
  display: block;
  width: max-content;
  padding: 5px 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  outline: none;
  //   transform: translateY(40px);
  position: absolute;
  top: 5px;
  right: 0;
}

.form_group {
  margin-bottom: 20px;
  flex-grow: 1;
}

.form_group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form_group input {
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 20px;
  outline: none;
  border: none;
}

.form_description_quill {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 70px;
}

.add_image_wrapper {
  display: flex;
  gap: 30px;
  position: relative;
  margin-bottom: 30px;

  label {
    // display: block;
    text-align: center;
    width: max-content;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--button-color);
    color: #fff;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      left: -9999px;
    }
  }

  .imgUrl {
    width: 100%;
    object-fit: cover;
  }
}

.add_image_img {
  border: 1px solid var(--text-color-light);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  .add_image_icon {
    object-fit: contain;
  }

  .imgUrl {
    width: 100%;
    object-fit: cover;
  }
}

.project_preview {
}

.project_preview_container {
  margin-top: 10px;
}
.project_preview_img {
  position: relative;
  width: 100%;
  height: 500px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project_preview_body {
  margin-top: 30px;
  h2 {
    font-size: 3rem;
  }
}

.project_preview_skills {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  &_item {
    background-color: #363636;
    padding: 5px 8px;
    border-radius: 50px;
  }
}

.project_preview_description {
  margin-top: 40px;
}

.project_preview_link {
  margin-top: 25px;
  a {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 30px;
    text-decoration: none;
    color: var(--text-color-light);
    width: 100%;
    padding: 8px;
    padding-left: 40px;
    background-color: #2b2b2b;
    font-size: 2.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s all;
  }

  a:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5),
      -1px -1px 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
  }
}

.skills_select {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  input {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.skills_option {
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  color: var(--text-color-dark);
  z-index: 1;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
}

.skills_option_item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  input {
    width: max-content;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .addModalbutton {
    position: relative;
    width: 100%;
  }
}
