.stackContainer{
    margin-top: 10rem;
}

.stackIconWrapper{
    max-width: 12rem;
    height: 12rem;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 20px;
}

.stackIconWrapper img{
    object-fit: cover;
    width: 100%;
}