.workExperience {
  position: relative;
}
.workExperience_container {
  margin-top: 15rem;
  max-width: 800px;
}
.workExperience_container_public {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10rem;
}

.workExperience_item {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-color-light);
  position: relative;

  &:hover {
    .overlay_actions {
      opacity: 1;
    }
  }
  .overlay_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    opacity: 0;
    // transition: all;
  }

  .overlay_actions > * {
    width: 40px;
    height: 30px;

    cursor: pointer;
  }
}

.workExperience_heading {
  padding-top: 20px;
  cursor: pointer;
}

.workExperience_item_left {
  width: 50%;
  h4 {
    font-size: 2rem;
    margin-bottom: 12px;
  }

  p {
    font-size: 13px;
  }
}
.workExperience_item_right {
  span {
    font-size: 10px;
    font-weight: 600;
    display: block;
    width: max-content;
    padding: 6px 20px;
    border-radius: 100px;
    color: var(--button-color);
    background-color: #d7ffe0;
    margin-bottom: 12px;
    margin-left: auto;
  }

  p {
    font-size: 12px;
  }
}

.workExperience_info {
  display: flex;
  justify-content: space-between;
}

.addModalbutton {
  margin-left: auto;
  display: block;
  width: max-content;
  padding: 5px 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  outline: none;
  //   transform: translateY(40px);
  position: absolute;
  top: 5px;
  right: 0;
}

.ed_modal {
  &_content {
    background-color: var(--background-dark);
  }

  &_header {
    padding: 20px;
  }
  &_body {
    padding: 20px;
  }
  &_footer {
    padding: 20px;
  }
}

.form_group {
  margin-bottom: 20px;
  flex-grow: 1;
}

.form_group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form_group input {
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 20px;
  outline: none;
  border: none;
}

.form_description_quill {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 70px;
}

.end_date_non {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  position: absolute;
  right: 0;
  top: 110%;

  & > * {
    width: max-content !important;
    margin-bottom: 0 !important;
  }
}

.programType,
.partTime,
.fullTime {
  display: flex;
  align-items: center;
  gap: 20px;
}

.programType {
  width: 100%;
  small,
  input {
    display: block;
    width: max-content;
  }
}

.hover_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* display: none; */
}

.skills_select {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  input {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.skills_option {
  position: absolute;
  top: 110%;
  left: 0;
  background: #fff;
  color: var(--text-color-dark);
  z-index: 1;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
}

.skills_option_item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  input {
    width: max-content;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .addModalbutton {
    position: relative;
    width: 100%;
  }

  .workExperience_container {
    margin-top: 20px;
  }
}
