:root{
    --text-color-dark: #666666;
    --text-color-light: #a7a7a7;
    --heading-color-dark: #42446e;
    --heading-color-light: #cccccc;
    --background-dark: #191919;
    --background-light: #ffffff;
    --button-color: #018c0f;
    --gradient-to-right: linear-gradient(to right, #13B0F5, #E70FAA);
    --gradient-to-bottom: linear-gradient(to bottom, #E70FAA, #13B0F5);
}

html {
    font-size: 62.5% !important;
}

body {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color-light) !important;
    background-color: var(--background-dark) !important;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    transition: .5s ease-out;
}

button:active, .buttonMoveDown{
    transform: translateY(2px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;   
}

.nav-item{
    margin-right: 2rem;
}

.navbar-nav .nav-link{
    color: var(--text-color-light);
}



.appNavs {
    margin-right: 5rem;
}



@media (max-width: 797px) {
    
    
}
